---
import type { GetStaticPaths } from "astro";
import { getSortedPosts } from "../../lib/content";
import Layout from "../../layouts/Layout.astro";
import PaginationNav from "../../components/blog/PaginationNav.astro";
import PostCard from "../../components/blog/PostCard.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedPosts();
  return paginate(posts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const posts = page.data;

const { url, size, lastPage: total, currentPage: current } = page;
const props = {
  ...url,
  total,
  current,
};
---

<Layout title="文章列表">
  <div space-y-8>
    <section>
      <h1 mb-6 mt-6 text-3xl font-medium sm:mt-10>博客</h1>
      <div flex="~ row" justify-between>
        <span>
          第 {current} 页 - 每页 {size} 篇，共 {total} 篇
        </span>
        <a hover:text-primary transition-colors duration-200 href="/archive"
          >查看所有文章 →</a
        >
      </div>
    </section>

    <section space-y-6>
      <ol flex="~ col" gap-y-4 text-start>
        {
          posts.map((post) => (
            <li
              relative
              rounded-2xl
              border="~ base-content/10"
              bg-base="200/40"
              transition-colors
              ease-in-out
              hover:bg-neutral-100
            >
              <PostCard {post} />
            </li>
          ))
        }
      </ol>
    </section>

    <div sticky bottom-8 flex justify-center>
      <PaginationNav {...props} />
    </div>
  </div>
</Layout>
