---
import type { GetStaticPaths } from "astro";
import { getPostUrl, getSortedPosts } from "../../lib/content";
import Base from "../../layouts/Base.astro";
import PaginationNav from "../../components/PaginationNav.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedPosts();
  return paginate(posts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const posts = page.data;

const props = {
  ...page.url,
  total: page.lastPage,
  current: page.currentPage,
  posts: page.total,
};
---

<Base title="文章列表">
  <section>
    <h1>文章列表</h1>
    {
      posts.map((post) => (
        <article>
          <a href={getPostUrl(post.id)}>
            <h2>{post.data.title}</h2>
          </a>
          <time>{post.data.pubDate.toLocaleDateString("zh-CN")}</time>
          <p>{post.data.description}</p>
        </article>
      ))
    }
  </section>

  <section bg="base-200/40" border="~ base-content/10" rounded-2xl p="4 sm:6">
    <PaginationNav {...props} />
  </section>
</Base>
