---
import type { GetStaticPaths } from "astro";
import { getSortedPosts } from "../../lib/content";
import Layout from "../../layouts/Layout.astro";
import PaginationNav from "../../components/blog/PaginationNav.astro";
import PostCard from "../../components/blog/PostCard.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getSortedPosts();
  return paginate(posts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const posts = page.data;

const { url, size, lastPage: total, currentPage: current } = page;
const props = {
  ...url,
  total,
  current,
};
---

<Layout title="文章列表">
  <section>
    <h1>文章列表</h1>
    <p>
      第 {current} 页，共 {total} 页；每页 {size} 篇。
      <a href="/archive">查看所有文章</a>
    </p>

    {posts.map((post) => <PostCard {post} />)}
  </section>

  {total > 1 && <PaginationNav {...props} />}
</Layout>
