---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";
import { getSortedPosts } from "../../lib/content";
import BlogHeader from "../../components/blog/BlogHeader.astro";
import AdjacentNav from "../../components/blog/AdjacentNav.astro";

export const getStaticPaths = (async () => {
  const posts = await getSortedPosts();
  return posts.map((post, i) => ({
    params: { id: post.id },
    props: {
      prev: posts[i - 1],
      post,
      next: posts[i + 1],
    },
  }));
}) satisfies GetStaticPaths;

const { prev, post, next } = Astro.props;
const { title, description, pubDate, updatedDate, draft } = post.data;
const { readingStats } = post;
const { Content } = await render(post);
---

<Layout title={title}>
  <article mt="8 sm:10" text-base>
    <BlogHeader
      {...{ title, description, pubDate, updatedDate, draft, readingStats }}
    />

    <div h-px mt-6 mb-10 border="t dashed base-content/10"></div>

    <div
      prose="~ dark:invert"
      max-w-none
      text="base-content/90 [17px]"
      leading-8
    >
      <Content />
    </div>
  </article>

  <div h-px my-10 border="t dashed base-content/10"></div>

  <AdjacentNav {prev} {next} />
</Layout>
