---
const links: {
  url: string;
  name: string;
  icon: string;
}[] = [
  {
    url: "https://github.com/KeqingMoe",
    name: "GitHub",
    icon: "i-mdi:github",
  },
];

if (Astro.site) {
  links.push({
    url: '/rss.xml',
    name: 'RSS',
    icon: 'i-mdi:rss',
  });
}
---

<footer mx="4 sm:6" mt-16 mb-5>
  <div border="t base-content/10" pt-5>
    <div flex="~ max-sm:col" items-center sm:justify-between gay-y="3 sm:0">
      <div flex text="base-content/70">© 2026 時雨てる</div>
      <div flex="~ row" items-center gap-x-2>
        {
          links.map(({ url, name, icon }) => (
            <a
              inline-block
              text="base-content/70 hover:base-content/75"
              href={url}
              aria-label={name}
            >
              <div text-1.5rem class={icon} />
            </a>
            <span></span>
          ))
        }
      </div>
    </div>
  </div>
</footer>
