---
import Base from "../layouts/Base.astro";
import { getPosts } from "../lib/content";

const posts = await getPosts();
posts.sort((a, b) => {
	const get = (x: typeof a) => x.data.pubDate.valueOf();
	return get(a) - get(b);
});
---

<Base>
	<main>
		<h1>文章列表</h1>
		{
			posts.map((post) => (
				<article>
					<a href={`/blog/${post.id}`}>
						<h2>{post.data.title}</h2>
					</a>
					<time>{post.data.pubDate.toLocaleDateString("zh-CN")}</time>
					<p>{post.data.description}</p>
				</article>
			))
		}
	</main>
</Base>
